<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="HCOTPRequestURL" value="/v2/rt/integrator/otprequests" />
    <add key="HCSubmitLoanURL" value="/v1/rt/integrator/submitLoan" />
    <add key="HCCancellationURL" value="/v1/rt/integrator/reversalRequest" />
    <add key="HCEligibilityURL" value="/v1/rt/integrator/installmentsOffers" />

    <add key="HomeCreditKeyFile" value="D:\NewNBFC\GenericNBFCInerfaceService\HomeCredit.Keys" />
    <add key="AUKeyFile" value="D:\NewNBFC\GenericNBFCInerfaceService\AUBank.Keys" />

  </appSettings>
</configuration>

